<script>
    var buttonContainer = document.getElementById("buttonContainer");
    var button = document.createElement("button");
    button.textContent = "显示窗体";
    buttonContainer.appendChild(button);

    // 点击按钮时显示iframe
    button.addEventListener("click", function() {
      var iframe = document.getElementById("myIframe");
      iframe.src = "http://mentalgpt.cc/#/chat/ecfe43fcc81e17593d08296291533b2c/对话/117.50.198.205:8888";
      iframe.style.display = "block";
    });

    // 创建关闭按钮
    var closeButton = document.createElement("button");
    closeButton.textContent = "关闭窗体";
    closeButton.style.position = "fixed";
    closeButton.style.top = "10px";
    closeButton.style.right = "10px";
    document.body.appendChild(closeButton);

    // 点击关闭按钮时隐藏iframe
    closeButton.addEventListener("click", function() {
      var iframe = document.getElementById("myIframe");
      iframe.style.display = "none";
    });

</script>


{% if site.avatar -%}
  <div class="sidebar-section">
    {%- if site.avatar contains "://" -%}
      {%- assign avatar = site.avatar -%}
    {%- else -%}
      {%- assign avatar = site.avatar | relative_url -%}
    {%- endif -%}
    <img src="{{ avatar }}" class="author-avatar u-photo align-center" alt="{{ site.author }}">
  </div>
{%- endif %}

<div class="sidebar-section">
  <ul class="contact-list">
    {% if site.author -%}
      <li>
        <i class="sidebar-icon fas fa-at"></i>
        <span class="contact-info p-name">{{ site.author | escape }}</span>
      </li>
    {%- endif %}
    {% if site.email -%}
      <li>
        <i class="sidebar-icon fas fa-envelope"></i>
        <a class="contact-info u-email" href="mailto:{{ site.email }}">{{ site.email }}</a>
      </li>
    {%- endif %}
    {% if site.location -%}
      <li>
        <i class="sidebar-icon fas fa-location-arrow"></i>
        <a class="contact-info u-location" href="https://www.google.com/maps/search/{{ site.location }}">{{ site.location }}</a>
      </li>
    {%- endif %}
  </ul>
</div>

{% if site.subscribe != false -%}
<div class="sidebar-section feed-subscribe">
  <a href="{{ 'feed.xml' | relative_url }}">
    <i class="sidebar-icon fas fa-rss"></i><span>Subscribe</span>
  </a>
</div>
{%- endif %}

{% if site.data.social -%}
  <div class="sidebar-section">
    <ul class="social-icons">
      {% for social in site.data.social -%}
        <li>
          <a class="social-icon" href="{{ social.url }}"><i class="{{ social.icon | default: 'fas fa-link' }} fa-2x" title="{{ social.title }}"></i></a>
        </li>
      {%- endfor %}
      <script type="text/javascript" src="//rf.revolvermaps.com/0/0/8.js?i=5xmxfe0m92u&amp;m=0&amp;c=ff0000&amp;cr1=ffffff&amp;f=arial&amp;l=33&amp;s=180" async="async"></script>
    </ul>
  </div>
{%- endif %}
<div id="buttonContainer"></div>  
<iframe id="myIframe"></iframe>
